* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F3F5FC;
}

body p {
    font-family: Inter;
}

.caixa {
    width: 100%;
    padding: 2.5em 0px 0px 2.5em;
    display: inline-flex;
}

.conteudo {
    display: flex;
    justify-content: space-around;
    /*height: 100vh;*/
}

.esquerda {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    /*width: 60%;*/
}

.caixa-mensagem{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.minusculas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensagem {
    background: #F3F5FC;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    line-height: 150%;
    color: #0A3871;
}

.mensagem::placeholder {
    color: #0A3871;
}


.minusculas {
    height: 1.125em;
    color: #495057;
    opacity: 0.8;
    
    
}

.btn {
    /*display: flex;*/
}

.btn input {
    width: 20em;
    height: 4em;
    border-radius: 2em;
    margin: 1.6em 1.6em 1.6em 0px;
    font-size: 1em;
    border: none;
    cursor: pointer;
}

.btn-criptografar {
    color: #FFFFFF;
    background: #0A3871;
}

.btn-descriptografar {
    background: #D8DFE8;
    color: #0A3871;
}

/*.direita {
    display: flex;
    justify-content: right;
    vertical-align: top;
}
*/
.apresenta-texto {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    /*width: 400px;
    height: 944px;
    border-radius: 2em;*/
}

.imagem {
    margin: 10px 10px 10px;
    
}

.apresenta-texto p {
    margin-top: 3em;
}

.p1-apresenta-texto {
    color: #343A40;
}

.p2-apresenta-texto {
    color: #495057;
}

