* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F3F5FC;
    font-family: 'Inter';
}

.caixa {
    position: absolute;
    padding: 2.5em 0px 0px 2.5em;
}

.conteudo {
    display: flex;
}

.esquerda {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.caixa-mensagem {
    display: flex;
    margin: 10.5em 0px 0px 16.5em;
}

.mensagem {
    background: #F3F5FC;
    font-family: 'Inter';
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    line-height: 150%;
    color: #0A3871;
}

.mensagem::placeholder {
    color: #0A3871;
}

.minusculas {
    display: flex;
    margin: 38em 0px 0px 16.5em;
    height: 1.125em;
    color: #495057;
    opacity: 0.8;
}

.minusculas img {
    margin-right: 10px;
}

.btn {
    display: flex;
    margin: 1.6em 1.6em 1.6em 15em;
}

.btn input {
    width: 20em;
    height: 4em;
    margin-left: 1.5em;
    border-radius: 1.5em;
    font-size: 1em;
    border: none;
    cursor: pointer;
    border: 1px solid #0A3871;
}

.btn-criptografar {
    color: #FFFFFF;
    background: #0A3871;
    font-size: 1em;
    font-weight: 400;
}

.btn-descriptografar {
    background: #D8DFE8;
    color: #0A3871;
    font-size: 1em;
    font-weight: 400;
}

.direita {
    width: 30%;
    display: flex;
}

.apresenta-texto {
    text-align: center;
    margin-top: 2.5em;
    background-color: #FFFFFF;
    width: 400px;
    height: 944px;
    border-radius: 2em;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.imagem {
    margin-top: 13em;
    padding: 0 2em 0 2em;
}

.p1-apresenta-texto {
    color: #343A40;
    font-family: 'Inter';
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.2;
    margin-top: 3em;
    padding: 0 2em 0 2em;
}

.p2-apresenta-texto {
    color: #495057;
    font-family: 'Inter';
    font-weight: 400;
    line-height: 1.5;
    font-size: 1em;
    margin-top: 3em;
    padding: 0 2em 0 2em;
}

@media screen and (max-width: 768px) {
    /* Inicia responsividade telas pequenas intermediárias */
    .caixa, .conteudo, .esquerda, .caixa-mensagem, 
    .minusculas, .btn, .direita, .apresenta-texto{
        width: 100%;
    }

    .caixa {
        display: block;
        position: static;
        padding: 0px;
    }

    .caixa h1 img {
        margin: 4.58875em 0px 0px 0px;
    }

    .conteudo {
        display: block;
    }

    .caixa-mensagem {
        display: inline-block;
        margin: 7.25em 0px 0px 2.5em;
    }

    .minusculas {
        margin: 0px;
        margin: 34.25em 0px 0px 2.5em;
    }

    .btn {
        margin: 1em auto;
       
   
    }

    .btn input {
        margin: 0px;
        margin-left: 2.5em;
    }

    .direita {
        display: inline-block;
        align-items: center;
        align-content: center;
        margin-top: 1em;
    }

    .apresenta-texto {
        width: 41.75em;
        height: 8.3125em;
        padding: 2em;
        margin: 0px auto 3em auto;
    }

    .imagem {
        display: none;
    }

    .p1-apresenta-texto{
        margin: 0px;
    }

    .p2-apresenta-texto {
        margin: 1em 0 0 0;
    }
    /* Finaliza layout para telas intermediárias */
}